/* @font-face {
    font-family: 'Montserrat', sans-serif;
    src: local("MontserratMedium"),url("../assest/font/Montserrat-Medium.ttf") format("opentype");
  } */



.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #007BFF; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* .main-container .Logo h1{
    position: absolute;
    width: 240px;
    height: 43px;
    left: 12.5rem;
    top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;

    display: flex;
    align-items: center;
} */




.inner-container {
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    position: absolute;
    width: 80%;
    height: 75%;
    left:10%;
    top: 20%;
    font-family: 'Montserrat', sans-serif;
}



.main-container .inner-container .form{
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    top: 10%;
    /* background-color: darkgoldenrod; */
    display: flexbox;
}




.main-container .inner-container .form .input-fields-1{
    position: absolute;
    background-color:#FFFF;
    /* border-bottom: solid; */
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:6%;
    left: 10%;
    color:#808080;
}


.main-container .inner-container .form .input-fields-2{
    position: absolute;
    background-color:#FFFF;
    /* border-bottom: solid; */
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:31%;
    left: 10%;
    color:#808080;
}

.main-container .inner-container .form .input-fields-3{
    position: absolute;
    background-color:#FFFF;
    /* border-bottom: solid; */
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:6%;
    left: 60%;
    color:#808080;
}


.main-container .inner-container .form .input-fields-4{
    position: absolute;
    background-color:#FFFF;
    /* border-bottom: solid; */
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:31%;
    left: 60%;
    color:#808080;
}

.main-container .inner-container .form .input-fields-5{
    position: absolute;
    background-color:#FFFF;
    /* border-bottom: solid; */
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:60%;
    left: 60%;
    color:#808080;
}



/* .main-container .inner-container .form .input-fields-2{
    position: absolute;
    border: none ;
    background-color: transparent;
    border-bottom: solid;
    color:cornsilk;
    border-width: thin;
    border-radius: 14px;
    width: 60%;
    height: 30%;
    left: 60%;
    top:20%;
    font-family: 'Montserrat', sans-serif; 
    

} */

.main-container .inner-container .form ::placeholder{
    color: #808080;
    font-weight: 400;
    position: relative;
    padding-top: 1%;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2%;
    padding-left: 2%;
    font-weight: 500;
}


.main-container .inner-container .form .input1 h4{
    font-size: 16px;
    top:-7%; 
    left:10%;
    position:absolute; 
    color:#808080;
    font-weight: 500;
}


.main-container .inner-container .form .input2 h4{
    font-size: 16px;
    top:18%; 
    left:10%;
    position:absolute; 
    color:#808080;
    font-weight: 500;
}

.main-container .inner-container .form .input3 h4{
    font-size: 16px;
    top:-7%; 
    left:60%;
    position:absolute; 
    color:#808080;
    font-weight: 500;
}

.main-container .inner-container .form .input4 h4{
    font-size: 16px;
    top:18%; 
    left:60%;
    position:absolute;  
    color:#808080;
    font-weight: 500;
}

.main-container .inner-container .form .input5 h4{
    font-size: 16px;
    top:45%; 
    left:60%;
    position:absolute;  
    color:#808080;
    font-weight: 500;
}

.main-container .inner-container .form .input6 h4{
    font-size: 16px;
    top:45%; 
    left:10%;
    position:absolute;  
    color:#808080;
    font-weight: 500;
}



.main-container .inner-container .form button { 
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 10%;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 80%;
    right:-1%;
    background: #00B2FF;
    color:#FFFF;
    border:none;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; 
}

/* .main-container .inner-container .form button { 
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 10%;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 80%;
    right:-1%;
    background: #00B2FF;
    color:#FFFF;
    border:none;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; 
} */


/* .main-container .inner-container .form .input-fields-6{
    position: absolute;
    background-color:#FFFF;
    border-bottom: solid;
    background: #00B2FF;
    border-width:thin;
    border-color:#808080;
    border-radius: 20px;
    width: 40%;
    height: 10%;
    top:60%;
    left: 10%;
    color:#FFFF;
} */


.main-container .inner-container .form .input6 .uploadbtn { 
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 10%;
    position: absolute;
    width: 15%;
    height: 10%;
    left: 10%;
    right:-1%;
    top: 60%;
    background: #00B2FF;
    color:#FFFF;
    border:none;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    /* text-decoration: none; */
    /* display: none; */
}

.main-container .inner-container .form .input6 .uploadbtn h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
}


.main-container .inner-container .form .input6 input{
    display: none;
    margin-bottom: 1px;

}