table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .tableDesign{
    margin-left:2%;
    max-width:95%;
    min-height:20rem;
    background-color:#F5F5F5;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr{
      font-size:2rem;    
}
td{
    font-size:1.5rem;    

}
tr:nth-child(odd) {
    background-color: #dddddd;
  }