.backgroundBanner{
    background-image: 
    linear-gradient(45deg,
    rgba(69, 155, 255, 0.5),
   rgba(128, 0, 128, 0.5)), url("../../images/how-to-transfer-files-from-pc-to-pc-hero1551645305603.jpg");
    background-repeat: no-repeat;
    height: 25rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;

   
}
.hBanner {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    left: 4%;
    color:white;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.1rem;

}
.ReadMore{
    position: absolute;
    top: 70%;
    left: 5%;
  
    width: 16rem;
    height: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    border-color:whitesmoke;
    background-color: transparent;
    border-radius: 58px;
    font-weight: 600;
  }
  .ReadMore:hover {
    background-color:rgba(0, 178, 255, 1);

  }
  .backgroundBanner p{
    position: absolute;
    top: 30%;
    left: -34%;
  }
  .header{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 2.5rem;
    color:white;
    padding: 0;
    margin: 0;


  }
  .line2{
    top: 22%;
    left: 57%;
    background-color: rgba(246, 177, 0, 1);
    position: absolute;
    width: 10%;
    height: 1%;
}


